In [1]:
import pandas as pd
import pandas as pd
import numpy as np

In [21]:
df1 = pd.read_csv('data.csv')

In [37]:
df1

        senyawa         protein              Compound
0          2726     5HT1A_HUMAN        Chlorpromazine
1          4927     5HT2A_HUMAN          Promethazine
2          5440     5HT2A_HUMAN      Thiethylperazine
3          2726     5HT2A_HUMAN        Chlorpromazine
4          5440     5HT2C_HUMAN      Thiethylperazine
...         ...             ...                   ...
3728      13505  YP_009725307.1         Diphenoxylate
3729     119212  YP_009725307.1   Benzylpenicilloyl G
3730  135565674  YP_009725307.1  Dabigatran etexilate
3731       2719  YP_009725307.1           Chloroquine
3732       2165  YP_009725307.1           Amodiaquine

[3731 rows x 3 columns]

In [23]:
df1 = df1[~df1["cid"].isnull()]

In [24]:
df1["cid"] = df1[["cid"]].astype(int)

<ipython-input-24-fade5ccf4483>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["cid"] = df1[["cid"]].astype(int)

In [25]:
del df1['Label']

In [27]:
data2 = pd.read_csv('ds.csv')

In [36]:
df1.rename(columns={'cid':'senyawa'}, inplace=True)
df1.rename(columns={'Nama.Protein':'protein'}, inplace=True)

E:\anaconda\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [38]:
data2.rename(columns={'cid':'senyawa'}, inplace=True)
data2.rename(columns={'Nama.Protein':'protein'}, inplace=True)

In [39]:
data2

,senyawa,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,LV,KV,MV,FV,PV,SV,TV,WV,YV,VV
0,5361,1,1,1,1,1,1,1,1,0,...,0.006557,0.006557,0.003279,0.006557,0.000000,0.006557,0.003279,0.000000,0.000000,0.006557
1,5361,1,1,1,1,1,1,1,1,0,...,0.006974,0.006276,0.000697,0.000697,0.005579,0.002092,0.006974,0.001395,0.002789,0.004184
2,5361,1,1,1,1,1,1,1,1,0,...,0.006916,0.005533,0.001383,0.000692,0.005533,0.002075,0.006916,0.001383,0.002766,0.004149
3,5361,1,1,1,1,1,1,1,1,0,...,0.005904,0.004541,0.002271,0.003406,0.003633,0.005223,0.006131,0.000681,0.002952,0.008629
4,5361,1,1,1,1,1,1,1,1,0,...,0.001236,0.004944,0.000000,0.001236,0.004944,0.003708,0.002472,0.001236,0.003708,0.008653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144469,518740,0,0,0,0,0,0,0,0,0,...,0.002893,0.004822,0.002893,0.001929,0.003857,0.003857,0.002893,0.000000,0.001929,0.004822
144470,518740,0,0,0,0,0,0,0,0,0,...,0.001244,0.004975,0.002488,0.003731,0.002488,0.003731,0.002488,0.000000,0.002488,0.006219
144471,518740,0,0,0,0,0,0,0,0,0,...,0.005927,0.004234,0.000000,0.001693,0.006774,0.001693,0.003387,0.000847,0.002540,0.003387
144472,518740,0,0,0,0,0,0,0,0,0,...,0.007086,0.001771,0.000000,0.001771,0.005314,0.001771,0.004429,0.000886,0.001771,0.001771
144473,518740,0,0,0,0,0,0,0,0,0,...,0.007126,0.002375,0.002375,0.000000,0.002375,0.004751,0.007126,0.000000,0.002375,0.002375

In [28]:
del data2['Unnamed: 0']
data2

,cid,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,LV,KV,MV,FV,PV,SV,TV,WV,YV,VV
0,5361,1,1,1,1,1,1,1,1,0,...,0.006557,0.006557,0.003279,0.006557,0.000000,0.006557,0.003279,0.000000,0.000000,0.006557
1,5361,1,1,1,1,1,1,1,1,0,...,0.006974,0.006276,0.000697,0.000697,0.005579,0.002092,0.006974,0.001395,0.002789,0.004184
2,5361,1,1,1,1,1,1,1,1,0,...,0.006916,0.005533,0.001383,0.000692,0.005533,0.002075,0.006916,0.001383,0.002766,0.004149
3,5361,1,1,1,1,1,1,1,1,0,...,0.005904,0.004541,0.002271,0.003406,0.003633,0.005223,0.006131,0.000681,0.002952,0.008629
4,5361,1,1,1,1,1,1,1,1,0,...,0.001236,0.004944,0.000000,0.001236,0.004944,0.003708,0.002472,0.001236,0.003708,0.008653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144469,518740,0,0,0,0,0,0,0,0,0,...,0.002893,0.004822,0.002893,0.001929,0.003857,0.003857,0.002893,0.000000,0.001929,0.004822
144470,518740,0,0,0,0,0,0,0,0,0,...,0.001244,0.004975,0.002488,0.003731,0.002488,0.003731,0.002488,0.000000,0.002488,0.006219
144471,518740,0,0,0,0,0,0,0,0,0,...,0.005927,0.004234,0.000000,0.001693,0.006774,0.001693,0.003387,0.000847,0.002540,0.003387
144472,518740,0,0,0,0,0,0,0,0,0,...,0.007086,0.001771,0.000000,0.001771,0.005314,0.001771,0.004429,0.000886,0.001771,0.001771
144473,518740,0,0,0,0,0,0,0,0,0,...,0.007126,0.002375,0.002375,0.000000,0.002375,0.004751,0.007126,0.000000,0.002375,0.002375

In [40]:
label = []
for _, row in data2.iterrows():
    senyawa = row["senyawa"]
    protein = row["protein"]

    cek_ada = (df1[["senyawa", "protein"]].values ==
               [senyawa, protein]).all(axis=1).any()
    if cek_ada:
        label.append(1)
    else:
        label.append(0)

data2['label'] = label

In [41]:
print(data2)

        senyawa  X1  X2  X3  X4  X5  X6  X7  X8  X9  ...        KV        MV  \
0          5361   1   1   1   1   1   1   1   1   0  ...  0.006557  0.003279
1          5361   1   1   1   1   1   1   1   1   0  ...  0.006276  0.000697
2          5361   1   1   1   1   1   1   1   1   0  ...  0.005533  0.001383
3          5361   1   1   1   1   1   1   1   1   0  ...  0.004541  0.002271
4          5361   1   1   1   1   1   1   1   1   0  ...  0.004944  0.000000
...         ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...       ...       ...
144469   518740   0   0   0   0   0   0   0   0   0  ...  0.004822  0.002893
144470   518740   0   0   0   0   0   0   0   0   0  ...  0.004975  0.002488
144471   518740   0   0   0   0   0   0   0   0   0  ...  0.004234  0.000000
144472   518740   0   0   0   0   0   0   0   0   0  ...  0.001771  0.000000
144473   518740   0   0   0   0   0   0   0   0   0  ...  0.002375  0.002375

              FV        PV        SV        TV        WV        YV        VV  \
0       0.006557  0.000000  0.006557  0.003279  0.000000  0.000000  0.006557
1       0.000697  0.005579  0.002092  0.006974  0.001395  0.002789  0.004184
2       0.000692  0.005533  0.002075  0.006916  0.001383  0.002766  0.004149
3       0.003406  0.003633  0.005223  0.006131  0.000681  0.002952  0.008629
4       0.001236  0.004944  0.003708  0.002472  0.001236  0.003708  0.008653
...          ...       ...       ...       ...       ...       ...       ...
144469  0.001929  0.003857  0.003857  0.002893  0.000000  0.001929  0.004822
144470  0.003731  0.002488  0.003731  0.002488  0.000000  0.002488  0.006219
144471  0.001693  0.006774  0.001693  0.003387  0.000847  0.002540  0.003387
144472  0.001771  0.005314  0.001771  0.004429  0.000886  0.001771  0.001771
144473  0.000000  0.002375  0.004751  0.007126  0.000000  0.002375  0.002375

        label
0           0
1           0
2           0
3           0
4           0
...       ...
144469      0
144470      0
144471      0
144472      0
144473      0

[144474 rows x 1284 columns]

In [ ]:
data2.to_csv('label.csv', index=False)

In [42]:
data2['label'].value_counts()

0    144474
Name: label, dtype: int64

In [ ]:
display('df3', 'df4', "pd.concat([df3, df4], axis='col')")

In [ ]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])

In [ ]:
display('df5', 'df6', 'df5.append(df6)')